body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(63, 65, 86);
    color: white;
    display: flex;
    padding: 8px;
    font-size: 80px;
    flex-direction: row;
    justify-content: space-between;
}

.right-menu {
    font-size: 20px;
    flex-direction: row;
    display: flex;
    list-style: none;
    padding: 8px;
    gap: 10px;
}

.first-section {
    background-color: rgb(63, 65, 86);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.first-section-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    align-items: flex-start;
}

img {
    width: 320px;
}

.first-section-left-top {
    font-size: 30px;
    gap: 20px;
}

.first-section-left-middle {
    font-size: 15px;
}

.first-section-button {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(88, 88, 161);
    display: flex;
    align-self: flex-start;

}



.second-section {
    background-color: white;
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.second-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    pad: 30px;
    gap: 30px;
    width: 100px;

}

.image2 {
    width: 200px;
}